/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
    max-width:100%;
    border:1px solid grey;
}

/*general styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    font-family: 'Monda', sans-serif;
    line-height:1.5;
    text-align:center;
}
h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size:7rem;
}
h2{
    font-family: 'Julius Sans One', sans-serif;
    font-size:4rem;
}
section{
    padding:4% 0;
    width:90%;
    margin:0 auto;
}
img{
    width:15%;
}

/*header styles*/
header{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
nav{
    padding:2% 0;
    width:30%;
    text-align:center;
}
nav a{
    display:inline-block;
    text-align:center;
    padding:1% 2%;
    color:black;
    text-decoration:none;
}

/*intro section*/
.intro{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/*imgContainer section*/
/*mess with making this image a background image to make it not take up as much space*/
.imgContainer{
    width:100%;
}

/*portfolio section*/
.portfolio{
    width:100%;
    display:flex;
}